@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<KutuphaneOtomasyonu.Models.Kitap>

@{
    Layout = "__Layout";
    ViewData["Title"] = Localizer["Kitaplar"];
}

<section class="breadcrumb-section">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">@Localizer["Home"]</a></li>
                    <li class="breadcrumb-item active">@Localizer["Books"]</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<main class="inner-page-sec-padding-bottom">
    <div class="container">

        <div class="shop-product-wrap grid-four with-pagination row space-db--30 shop-border">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="product-card">
                        <div class="product-grid-content">
                            <div class="product-header">
                                <a href="javascript:void()" class="author">
                                    @item.Yazar.Ad @item.Yazar.Soyad
                                </a>
                                <h3>
                                    <a asp-controller="Home" asp-action="BookDetail" asp-route-id="@item.KitapId" tabindex="0">
                                        @item.Ad
                                    </a>
                                </h3>
                            </div>
                            <div class="product-card--body">
                                <div class="card-image">
                                    <a asp-controller="Home" asp-action="BookDetail" asp-route-id="@item.KitapId" tabindex="0">
                                        <img src="@item.KapakResmi" alt="">
                                    </a>
                                </div>
                                
                                @*<div class="rating-block">
                                    <span class="fas fa-star star_on"></span>
                                    <span class="fas fa-star star_on"></span>
                                    <span class="fas fa-star star_on"></span>
                                    <span class="fas fa-star star_on"></span>
                                    <span class="fas fa-star "></span>
                                </div>
                                <div class="btn-block">
                                    <a asp-controller="Home" asp-action="BookDetail" asp-route-id="@item.KitapId" class="btn btn-outlined">
                                        @Localizer["Detay"]
                                    </a>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- Pagination Block -->
        @*<div class="row pt--30">
            <div class="col-md-12">
                <div class="pagination-block">
                    <ul class="pagination-btns flex-center">
                        <li>
                            <a href="" class="single-btn prev-btn ">|<i class="zmdi zmdi-chevron-left"></i> </a>
                        </li>
                        <li>
                            <a href="" class="single-btn prev-btn "><i class="zmdi zmdi-chevron-left"></i> </a>
                        </li>
                        <li class="active"><a href="" class="single-btn">1</a></li>
                        <li>
                            <a href="" class="single-btn next-btn"><i class="zmdi zmdi-chevron-right"></i></a>
                        </li>
                        <li>
                            <a href="" class="single-btn next-btn"><i class="zmdi zmdi-chevron-right"></i>|</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@
    </div>
</main>