@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    Layout = "__Layout";
    ViewData["Title"] = Localizer["Anasayfa"];
}

<!--=================================
       Hero Area
       ===================================== -->
<section class="hero-area hero-slider-2">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-12">
                <div class="sb-slick-slider" data-slick-setting='{
                                                                "autoplay": true,
                                                                "autoplaySpeed": 8000,
                                                                "slidesToShow": 1,
                                                                "dots":true
                                                                }'>
                    <div class="single-slide bg-image" data-bg="images/home-2-slider-1.jpg">
                        <div class="home-content pl--30">
                            <div class="row">
                                <div class="col-lg-7">
                                    <span class="title-mid">@Localizer["KutuphaneOtomasyonu"]</span>
                                    <h2 class="h2-v2">@Localizer["eKutuphane"]</h2>
                                    <p>
                                        @Localizer["Slogan"]
                                    </p>
                                    <a asp-action="Index" asp-controller="Kitaplar" class="btn btn-outlined--primary">
                                        @Localizer["KitaplariIncele"]
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mb--30">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>
<!--=================================
Deal of the day
===================================== -->
<section class="section-margin">
    <div class="container">
        <div class="promo-section-heading">
            <h2>@Localizer["SonEklenenKitaplar"]</h2>
        </div>
        <div class="product-slider with-countdown  slider-border-single-row sb-slick-slider" data-slick-setting='{
                "autoplay": true,
                "autoplaySpeed": 8000,
                "slidesToShow": 4,
                "dots":true
                }' data-slick-responsive='[
                    {"breakpoint":992, "settings": {"slidesToShow": 3} },
                    {"breakpoint":575, "settings": {"slidesToShow": 2} },
                    {"breakpoint":490, "settings": {"slidesToShow": 1} }
                ]'>
            @foreach (var kitap in ViewBag.Kitaplar)
            {
                <div class="single-slide">
                    <div class="product-card">
                        <div class="product-header">
                            <a href="javascript:void(0)" class="author">
                                @kitap.Yazar.Ad @kitap.Yazar.Soyad
                            </a>
                            <h3>
                                <a href="javascript:void(0)">
                                    @kitap.Ad
                                </a>
                            </h3>
                        </div>
                        <div class="product-card--body">
                            <div class="card-image">
                                <img src="@kitap.KapakResmi" alt="">
                                <div class="hover-contents">
                                    <a asp-controller="Home" asp-action="BookDetail" asp-route-id="@kitap.KitapId" class="hover-image">
                                        <img src="@kitap.KapakResmi" alt="">
                                    </a>
                                    @*<div class="hover-btns">
                                            <a href="cart.html" class="single-btn">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html" class="single-btn">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a href="compare.html" class="single-btn">
                                                <i class="fas fa-random"></i>
                                            </a>
                                            <a href="#" data-toggle="modal" data-target="#quickModal"
                                               class="single-btn">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

