<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Kütüphane Otomasyonu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/plugins.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
    @RenderSection("Styles", required: false)
</head>

<body>
    <div class="site-wrapper" id="top">
        <div class="site-header header-2 mb--20 d-none d-lg-block">
            <div class="header-middle pt--10 pb--10">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <a asp-controller="Home" asp-action="Index" class="site-brand">
                                <img src="~/images/logo_frontend.png" alt="">
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <div class="header-search-block flex-sm-right">
                                @await Html.PartialAsync("_SelectLanguagePartial")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom bg-primary">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <nav class="category-nav white-nav">
                                <div>
                                    <a href="javascript:void(0)" class="category-trigger">
                                        <i class="fa fa-bars"></i>Kategoriler
                                    </a>
                                    <ul class="category-menu">
                                        @*@foreach (var cat in ViewBag.Categories)
                                            {
                                                <li class="cat-item">
                                                    <a href="#@cat.KategoriId">@cat.KategoriAdi</a>
                                                </li>
                                            }*@
                                        <li class="cat-item">
                                            <a href="#0">Genel</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-lg-9">
                            @await Html.PartialAsync("_FrontEndSiteMenu")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <!--=================================
    Footer Area
    ===================================== -->
    <footer class="site-footer">
        <div class="footer-bottom" style="padding: 5px !important;">
            <div class="container">
                <p class="copyright-text" style="margin-top: 10px !important;">
                    Copyright © @DateTime.Now.Year.ToString() <a href="#" class="author">Emre Bodur & Sadık Senai</a>. Tüm Hakları Saklıdır.
                </p>
            </div>
        </div>
    </footer>
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/ajax-mail.js"></script>
    <script src="~/js/custom-frontend.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>