<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <title>@ViewData["Title"] - Kütüphane Otomasyonu</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- Menu CSS -->
    <link href="~/plugins/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!--alerts CSS -->
    <link href="~/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
    <!-- morris CSS
    <link href="~/plugins/morrisjs/morris.css" rel="stylesheet"> -->
    <!-- animation CSS -->
    <link href="~/css/animate.css" rel="stylesheet">
    <!-- Calendar CSS -->
    <link href="~/plugins/calendar/dist/fullcalendar.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <partial name="_NavbarTopPartial" />
        <!-- Left navbar-header -->
        <partial name="_MainMenuPartial" />
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">@ViewData["Title"]</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Yönetim Paneli</a></li>
                            <li class="active">@ViewData["Title"]</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> @DateTime.Now.Year.ToString() &copy; emrebodur.com </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/plugins/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Counter js -->
    <script src="~/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>
    <!--Morris JavaScript
    <script src="~/plugins/raphael/raphael-min.js"></script>
    <script src="~/plugins/morrisjs/morris.js"></script> -->
    <!-- Custom Theme JavaScript -->
    <script src="~/js/custom.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/plugins/jquery-sparkline/jquery.charts-sparkline.js"></script>
    <!--Style Switcher -->
    <script src="~/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- Calendar JavaScript -->
    <script src="~/plugins/calendar/jquery-ui.min.js"></script>
    <script src="~/plugins/moment/moment.js"></script>
    <script src='~/plugins/calendar/dist/fullcalendar.min.js'></script>
    <script src='~/plugins/calendar/dist/lang/tr.js'></script>
    <script src="~/plugins/calendar/dist/jquery.fullcalendar.js"></script>
    <!-- Mask JavaScript -->
    <script src="~/js/mask.js"></script>
    <!-- Sweet-Alert  -->
    <script src="~/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Site JavaScript -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
