@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                <!-- input-group -->
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Kitap Ara...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li class="nav-small-cap m-t-10">--- @Localizer["AnaMenu"]</li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="waves-effect" asp-area="" asp-controller="Admin" asp-action="Index">
                        <i data-icon="Z" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">@Localizer["AnaSayfa"]</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                        <i class="icon-list fa-fw"></i>
                        <span class="hide-menu"> @Localizer["Kategoriler"] <span class="fa arrow"></span></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li> <a asp-area="" asp-controller="Kategoriler" asp-action="Create">@Localizer["Ekle"]</a> </li>
                        <li> <a asp-area="" asp-controller="Kategoriler" asp-action="Index">@Localizer["Liste"]</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="inbox.html" class="waves-effect">
                        <i data-icon=")" class="linea-icon linea-basic fa-fw"></i>
                        <span class="hide-menu">@Localizer["Yayinevleri"] <span class="fa arrow"></span></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li> <a asp-area="" asp-controller="Yayinevleri" asp-action="Create">@Localizer["Ekle"]</a> </li>
                        <li> <a asp-area="" asp-controller="Yayinevleri" asp-action="Index">@Localizer["Liste"]</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                        <i class="icon-pencil fa-fw"></i>
                        <span class="hide-menu">@Localizer["Yazarlar"]<span class="fa arrow"></span></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li> <a asp-area="" asp-controller="Yazarlar" asp-action="Create">@Localizer["Ekle"]</a> </li>
                        <li> <a asp-area="" asp-controller="Yazarlar" asp-action="Index">@Localizer["Liste"]</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                        <i class="icon-book-open fa-fw"></i>
                        <span class="hide-menu">
                            @Localizer["Kitaplar"]<span class="fa arrow"></span>
                        </span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li> <a asp-area="" asp-controller="Kitaplar" asp-action="Create">@Localizer["Ekle"]</a> </li>
                        <li> <a asp-area="" asp-controller="Kitaplar" asp-action="Index">@Localizer["Liste"]</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                        <i class="icon-people fa-fw"></i>
                        <span class="hide-menu">@Localizer["Uyeler"]<span class="fa arrow"></span></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li> <a asp-area="" asp-controller="Uyeler" asp-action="Create">@Localizer["Ekle"]</a> </li>
                        <li> <a asp-area="" asp-controller="Uyeler" asp-action="Index">@Localizer["Liste"]</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                        <i class="icon-calender fa-fw"></i>
                        <span class="hide-menu">@Localizer["OduncKitapIslemleri"]<span class="fa arrow"></span></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li> <a asp-area="" asp-controller="OduncKitapIslemleri" asp-action="Create">@Localizer["OduncKitapVer"]</a> </li>
                        <li> <a asp-area="" asp-controller="OduncKitapIslemleri" asp-action="Index">@Localizer["OduncteOlanKitaplar"]</a> </li>
                        <li> <a asp-area="" asp-controller="OduncKitapIslemleri" asp-action="List">@Localizer["GetirilenKitaplar"]</a> </li>
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <a href="#" class="waves-effect">
                        <i class="icon-book-open fa-fw"></i>
                        <span class="hide-menu">
                            @Localizer["Kitaplar"]<span class="fa arrow"></span>
                        </span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li> <a asp-area="" asp-controller="Kitaplar" asp-action="Index">@Localizer["Liste"]</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                        <i class="icon-calender fa-fw"></i>
                        <span class="hide-menu">@Localizer["OduncKitapIslemleri"]<span class="fa arrow"></span></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li> <a asp-controller="OduncKitapIslemleri" asp-action="IndexUser">@Localizer["OduncAldigimKitaplar"]</a> </li>
                    </ul>
                </li>
            }
            <li>
                <a href="javascript:void(0)" class="waves-effect" onclick="document.frmCikis.submit();">
                    <i class="icon-logout fa-fw"></i> <span class="hide-menu">@Localizer["GuvenliCikis"]</span>
                </a>
                <form name="frmCikis" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Admin", new { area = "" })">
                </form>
            </li>
        </ul>
    </div>
</div>
