@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
        <div class="top-left-part"><a class="logo" asp-area="" asp-controller="Admin" asp-action="Index"><b><img src="~/images/eliteadmin-logo.png" alt="home" /></b><span class="hidden-xs"><img src="~/images/eliteadmin-text.png" alt="home" /></span></a></div>
        <ul class="nav navbar-top-links navbar-left hidden-xs">
            <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
            <li>
                @await Html.PartialAsync("_SelectLanguagePartial")
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li class="right-side-toggle"> <a class="waves-effect waves-light" asp-controller="Home" asp-action="Index"><i class="ti-home"></i> @Localizer["SiteyiGoruntule"]</a></li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="~/images/users/default.png" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">@User.Identity.Name</b> </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        <li><a asp-action="Profile" asp-controller="Admin"><i class="ti-user"></i> @Localizer["Profil"]</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Admin", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-dark"><i class="fa fa-power-off"></i> @Localizer["Cikis"]</button>
                            </form>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            }
            else
            {
                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="~/images/users/genu.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Kullanıcı</b> </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        <li><a asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in"></i> @Localizer["Giris"]</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus"></i> @Localizer["Register"]</a></li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            }
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>