@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model KutuphaneOtomasyonu.Models.Yayinevi

@{
    ViewData["Title"] = Localizer["YayineviSil"];
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">@Localizer["YayineviSil"]</div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <p>Bu @Localizer["Yayinevi"] <b>(@Html.DisplayFor(model => model.Adi))</b> @Localizer["EminMisiniz"]</p>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="YayineviId" />
                        <input type="submit" value="Sil" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-info">@Localizer["Iptal"]</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
