@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model KutuphaneOtomasyonu.Models.Yayinevi

@{
    ViewData["Title"] = Localizer["Detay"];
}

<h1>@Localizer["Detay"]</h1>

<div>
    <h4>@Localizer["Yayinevi"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.YayineviId">@Localizer["Duzenle"]</a> |
    <a asp-action="Index">@Localizer["ListeyeDon"]</a>
</div>
