@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model KutuphaneOtomasyonu.Models.OduncKitap

@{
    ViewData["Title"] = Localizer["Details"];
}

<h1>@Localizer["Details"]</h1>

<div>
    <h4>
        @Localizer["OduncKitap"]/h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Kitap)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Kitap.Ad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlisTarihi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlisTarihi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GetirecegiTarih)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GetirecegiTarih)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GetirdigiTarih)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GetirdigiTarih)
            </dd>
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Duzenle"]</a> |
    <a asp-action="Index">@Localizer["ListeyeDon"]</a>
</div>
