@model KutuphaneOtomasyonu.Models.AppUser

@{
    ViewData["Title"] = "Üye Detay";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Üye Detay</div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            Üye ID
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TCKimlik)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TCKimlik)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Adi)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Adi)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Soyadi)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Soyadi)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cinsiyet)
                        </dt>
                        <dd class="col-sm-10">
                            @if (Model.Cinsiyet)
                            {
                                Write("Erkek");
                            }
                            else
                            {
                                Write("Kadın");
                            }
                        </dd>
                        <dt class="col-sm-2">
                            Kullanıcı Adı
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt class="col-sm-2">
                            Eposta
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                            @if (Model.EmailConfirmed)
                            {
                                Write("(Doğrulandı)");
                            }
                            else
                            {
                                Write("(Doğrulanmadı)");
                            }
                        </dd>
                        <dt class="col-sm-2">
                            Telefon
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PhoneNumber)
                            @if (Model.PhoneNumberConfirmed)
                            {
                                Write("(Doğrulandı)");
                            }
                            else
                            {
                                Write("(Doğrulanmadı)");
                            }
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ceza)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Ceza) Gün
                        </dd>
                    </dl>
                </div>
                <div class="panel-footer">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info btn-sm">Düzenle</a>
                    <a asp-action="Index" class="btn btn-danger btn-sm">İptal</a>
                </div>
            </div>
        </div>
    </div>
</div>