@model IEnumerable<KutuphaneOtomasyonu.Models.AppUser>

@{
    ViewData["Title"] = "Üyeler";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Üyeler</div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <table id="tblUyeler" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TCKimlik)
                                <th>
                                    Kullanıcı Adı
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Adi)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Soyadi)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cinsiyet)
                                </th>
                                <th>
                                    Eposta
                                </th>
                                <th>
                                    Telefon
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ceza)
                                </th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TCKimlik)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Adi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Soyadi)
                                </td>
                                <td>
                                    @if (item.Cinsiyet) { Write("Erkek"); } else { Write("Kadın"); }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ceza)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">Düzenle</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Detay</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblUyeler').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.11.3/i18n/tr.json'
                },
                dom: 'Bfrtip',
                autoWidth: true,
                buttons: [ //http://jsfiddle.net/andrew_safwat/cn1n060L/
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                    {
                        extend: 'pdf',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        }
                    }
                ]
            });
        });
    </script>
}