@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model KutuphaneOtomasyonu.Models.Yazar

@{
    ViewData["Title"] = Localizer["Detay"];
}

<h1>@Localizer["Detay"]</h1>

<div>
    <h4>@Localizer["Yazar"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biyografi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biyografi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResimUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResimUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.YazarId">@Localizer["Duzenle"]</a> |
    <a asp-action="Index">@Localizer["ListeyeDon"]</a>
</div>
